body{
  font-family: 'Open sans', sans-serif;
  color: #3f444a;
}
.wrapper {
  max-width: 2000px;
  margin: 0 auto;
}
a{
  text-decoration: none;
  color: black;
}

header{
  position: fixed;
  background-color: #fff;
  border-bottom: 1px solid #dbd8d8;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1;
}
.navbar{
  min-height: 100px;
  padding-left: 220px;
  padding-right: 220px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
}
.nav ul{
  font-weight: bold;
  text-transform: uppercase;
  list-style: none;
  display: flex;
}
.nav ul a{
  margin-right: 20px;
}
.nav ul a:hover{
  color: #ec4848;
}
.background{
  margin-top: 100px;
  height: 400px;
  background-image: url('../image/background1.jpg');
  background-size: cover;
  text-align: center;
  padding-top: 200px;
}
.background h1, .background h2 {
  color: #fff;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 80px;
}
.background h2{
  font-size: 59px;
}

button{
  margin-top: 50px;
  text-transform: uppercase;
  font-weight: 800;
  background-color: #ec4848;
  color: #fff;
  padding: 10px 30px;
  border: none;
  outline: none;
}

button:hover{
  cursor: pointer;
  background-color: #fff;
  color: #ec4848;
  box-shadow: 2px 2px 2px 2px rgba(32, 32, 32, 0.2);
}

.whoWeAre{
  padding: 20px;
  border-bottom: 1px solid #dbd8d8;
  margin-bottom: 80px;
}

.title{
  max-width: 800px;
  margin: 0 auto;
  text-align: center;
  margin-top: 50px;
  color: #141414;
}

.title h2{
  font-size: 40px;
  font-weight: bold;
  margin-bottom: 50px;
}

.title h3{
  font-size: 18px;
  font-weight: 300;
  line-height: 1.5;
  margin-bottom: 50px;
}

.aboutUs{
  margin-top: 50px;
  display: flex;
  justify-content: center;
}

.aboutAndProgress {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.services{
  width: 580px;
}

.item-collapse{
  margin-bottom: 10px;
}

.item-collapse p {
  display: none;
}

.item-collapse h2 {
  background-color: #3f444a;
  color: #fff;
  text-align: left;
  padding: 15px;
  position: relative;
}

.circle {
  border-left: 1px solid #dbd8d8;
  width: 60px;
  height: 100%;
  position: absolute;
  top: 0px;
  right: 0px;
}

.plus-minus {
  width: 20px;
  height: 20px;
  background-color: #afafaf;
  border-radius: 50%;
  position: absolute;
  top: 50%;
  right: 50%;
  margin-top: -10px;
  margin-right: -10px;
  box-shadow: 0 0 1px 4px rgba(175, 175, 175, 0.5);
}

.plus-minus::after{
  content: " ";
  display: block;  
  width: 21px;
  height: 5px;
  background-color: #afafaf;
  position: absolute;
  top: 7px;
  left: 19px;
}

.plus-minus .fa-plus{
  font-size: 11px;
  font-weight: lighter;
  padding: 6px;
}

.plus-minus .fa-minus{
  display: none;
  font-size: 11px;
  font-weight: lighter;
  padding: 6px;
}

.item-collapse.active p {
  display: block;
  background-color: #f8f8f8;
  border: 1px solid #dbd8d8;
  padding: 25px 20px;
  text-align: left;
  font-size: 14px;
  line-height: 1.5;
}
.item-collapse.active h2{
  background-color: #ec4848;
}

.item-collapse.active .plus-minus {
  background-color: transparent;
  box-shadow: 0 0 0 4px rgb(255, 255, 255);
}

.item-collapse.active .plus-minus::after{
  background-color: #fff;
  width: 20px;
  left: 20px;
}

.item-collapse.active .fa-plus{
  display: none;  
}

.item-collapse.active .fa-minus{
  display: block;  
}

.progressBar {
  width: 500px;
  height: 273px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.myProgress {
  margin-left: 20px;
  height: 30px;
  width: 100%;
  background-color: grey;
  position: relative;
}

.myBar {
  position: absolute;
  height: 100%;
  background-color: #ec4848;
  color: #fff;
  padding: 8px 15px;
  box-sizing: border-box;
}

.ourService{
  border-top: 1px solid #dbd8d8;
  border-bottom: 1px solid #dbd8d8;
  padding: 20px;
  margin-bottom: 40px;
}
.ourServices {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.service{
  width: 250px;
  min-height: 400px;
  border: 1px solid #dbd8d8;
  border-radius: 10px;
  margin: 25px;
  padding: 30px;
  text-align: center;
  position: relative;
}

.service .fa{
  font-size: 75px;
}

.text{
  margin: 50px 0;
  text-align: left;
  line-height: 1.4;
  font-weight: 300;
}

.text h3{
  margin-bottom: 20px;
  font-weight: bold;
  font-size: 20px;
  text-transform: uppercase;
}

.service button {
  position: absolute;
  bottom: 30px;
  left: 50%;
  margin-left: -65px;
}

.service:hover{
  color: #fff;
  background-color: #3f444a;
  transition: 0.7s;
}

.join{
  height: 500px;
  background: url(../image/background2.jpg);
  position: relative;
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
  
}

.join img{
  height: 100%;
  width: 100%;
  opacity: 0.4;
  position: absolute;
}

.join .content{
  padding: 90px;
  position: absolute;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.content .fa-user-plus{
  color: #ec4848;
  font-size: 56px;
}

.content .title{
  color: #fff;
  margin-top: 20px;
}

.title h3{
  margin-bottom: 0;
}

.whatWeOffer{
  margin-top: 50px;
  border-top: 1px solid #dbd8d8;
  border-bottom: 1px solid #dbd8d8;
}

.offers{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  max-width: 1230px;
  margin: 0 auto;
}

.offer{
  max-width: 550px;
  display: flex;
  margin: 30px;
  margin-bottom: 50px;
}

.icon{
  width: 150px;
  height: 90px;
  background-color: #ec4848;
  color: #fff;
  text-align: center;
  margin-right: 15px;
  box-sizing: border-box;
}

.icon .fa{
  font-size: 42px;
  padding-top: 25px;
}

.offer-text h3{
  font-size: 25px;
  font-weight: bold;
  text-transform: uppercase;
  margin-bottom: 20px;
}

.offer-text p{
  font-size: 18px;
  font-weight: 300;
  line-height: 1.7;
}

.reviews{
  border-bottom: 1px solid #dbd8d8;
  margin-bottom: 50px;
  padding-bottom: 30px;
}

.slider_reviews{
  max-width: 800px;
  margin: 0 auto;
}

.slide_rev{
  outline: none;
}

.customer{
  padding: 20px;
  display: flex;
  margin-bottom: 40px;
}

.foto{
  width: 120px;
  height: 120px;
  border-radius: 50%;
  margin-right: 30px;
}

.response h3{
  font-size: 25px;
  font-weight: bold;
  text-transform: uppercase;
  margin-bottom: 30px;
}

.response h3 span{
  color: #ec4848;
  font-size: 14px;
}

.response p{
  font-size: 18px;
  font-weight: 300;
  line-height: 1.5;
  max-width: 600px;
}

.foto1{
  background-image: url(../image/customers/foto1.jpg)
}

.foto2{
  background-image: url(../image/customers/foto2.jpg)
}

.foto3{
  background-image: url(../image/customers/foto3.jpg)
}

.foto4{
  background-image: url(../image/customers/foto4.jpg)
}

.foto5{
  background-image: url(../image/customers/foto5.jpg)
}

.foto6{
  background-image: url(../image/customers/foto6.jpg)
}

.counter{
  min-height: 370px;
  background-image: url(../image/background3.jpg);
  background-size: cover;
  margin-bottom: 60px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.square{
  width: 290px;
  height: 250px;
  background: rgba(236, 72, 72, 0.3);
  color: #fff;
  font-size: 14px;
  margin: 10px;
  padding: 10px;
  text-align: center;
  line-height: 2;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.square .fa{
  font-size: 58px;
}

.square .quantity{
  font-size: 40px;
  font-weight: bold;
}

.square p{
  letter-spacing: 5px;
}

.ourTeam{
  border-top: 1px solid #dbd8d8;
  border-bottom: 1px solid #dbd8d8;
  margin-bottom: 50px;
}

.team{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding-top: 50px;
}

.man{
  width: 270px;
  height: 300px;
  margin: 0 10px 50px; 
  position: relative;
}

.man1{
  background-image: url(../image/team/man1.jpg);
  background-size: cover;
}

.man2{
  background-image: url(../image/team/man2.jpg);
  background-size: cover;
}

.man3{
  background-image: url(../image/team/man3.jpg);
  background-size: cover;
}

.man4{
  background-image: url(../image/team/man4.jpg);
  background-size: cover;
}

.info{
  position: absolute;
  bottom: 0;
  background-color: #ec4848;
  color: #fff;
  text-align: center;
  width: 100%;
  height: 35%;
  padding: 10px 5px; 
  box-sizing: border-box;
  display: none;
}

.man:hover>.info{
  display: block;
}

.info h4{
  font-size: 22px;
  line-height: 1.2;
}

.info p{
  font-size: 16px;
  line-height: 1.4;
  margin-bottom: 10px;
}

.info a{
  box-sizing: border-box;
  margin: 15px 10px;
}

.info a{
  color: #fff;
}

.info a:hover{
  color: black;
  border-bottom: 2px solid black;
}

.ourWorks{
  border-bottom: 1px solid #dbd8d8;
  margin-bottom: 50px;
}
.nav-works ul{
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  text-transform: uppercase;
  font-size: 16px;
  font-weight: bold;
}

.nav-works li{
  margin: 50px 20px; 
}

.nav-works li a:hover{
  color: #ec4848;
}

.work{
  margin: 0 20px;
}

.works{
  max-width: 1170px;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  
}

.work .img{
  width: 350px;
  height: 200px;
  position: relative;
}

.work .img:hover>.img-hover{
  display: inline-flex;
}
.work .text{
  text-align: center;
  margin: 40px 0;
  font-weight: 300;
  line-height: 32px;
}

.work h4{
  font-size: 20px;
}

.work p{
  font-size: 12px;
}

.img .img-hover{
  width: 350px;
  height: 200px;
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgba(236, 72, 72, 0.8);
  display: flex;
  justify-content: center;
  align-items: center;
  display: none;
}

.img-hover a{
  color: #fff;
  border: 3px solid #fff;
  border-radius: 50%;
  padding: 10px;
}

.img-hover .line{
  width: 20px;
  height: 2px;
  background-color: #fff;
  position: relative;
}

.img-hover .ellipse{
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background-color: #fff;
  position: absolute;
  left: 6px;
  top: -3px;
}

.ourclients{
  border-bottom: 1px solid #dbd8d8;
  margin-bottom: 50px;
}

.client{
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.client img{
  margin-right: 10px;
}

.client div{
  display: flex;
  align-items: flex-start;
  margin: 0 40px 50px;
}

.client div p{
  padding-top: 5px;
  box-sizing: border-box;
}

.subscribe{
  color: #fff;
  background-color: #312b2b;
  padding: 20px 150px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: baseline;
}

.subscribe p{
  margin-bottom: 10px;
}

.submit{
  position: relative;
}

.submit input{
  width: 300px;
  height: 50px;
  padding: 10px;
  box-sizing: border-box;
  border: none;
  outline: none;
  font-size: 18px;
}

.submit button{
  font-size: 22px;
  border: none;
  height: 50px;
  margin: 0;
  position: absolute;
  top: 0;
  right: 0;
}

.widgets{
  background-color: #151515;
  color: #fff;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.widgets div{
  width: 300px;
  margin: 40px 10px;
}

.about p{
  padding-top: 10px;
  padding-left: 20px;
  font-size: 14px;
  font-weight: 300;
  line-height: 20px;
}

.wid-icon{
  padding-left: 0;
  color: black;
}

.wid-icon i{
  width: 40px;
  height: 40px;
  background-color: #fff;
  font-size: 18px;
  margin-right: 10px;
  vertical-align: center;
  text-align: center;
  padding-top: 10px;
  box-sizing: border-box;
}

.features h4, .tags h4, .posts h4{
  font-size: 21px;
  margin-bottom: 20px;
}

.features p{
  padding-left: 20px;
  font-size: 14px;
  font-weight: 300;
  margin-bottom: 15px;
  line-height: 24px;
}

.features p::before{
  content: url(../image/check.png);
  margin-right: 5px;
}

.tags p{
  padding-left: 20px;
  text-align: justify;
}

.tags span{
  font-size: 14px;
  text-transform: uppercase;
  padding: 5px 6px;
  background-color: #ec4848;
  line-height: 40px;
}

.widgets .posts{
  width: 340px;
}
.posts img{
  width: 60px;
  height: 60px;
  margin: 5px;
}

.posts img:nth-of-type(4n+1){
  margin-left: 20px;
}

.copirights{
  border-top: 2px solid #534a4a;
  padding: 20px 150px;
  background-color: #151515;
  color: rgb(136, 132, 132);
  display: flex;
  justify-content: space-between;
}

span.name{
  text-transform: uppercase;
}

span.red{
  color: #ec4848;
}

.icon-footer a{
  color: rgb(136, 132, 132);
  margin-left: 15px;
}

.icon-footer a:hover{
  color: #ec4848;
}